{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { width: 100%;display: flex;justify-content: center;margin-top: 20px; }
</style>
<div class="example-wrapper">
    {{ include('components/blogCards.html.twig') }}
</div>
{% endblock %}
