{% block body %}
    <style>
        .container {}
        .blog-card {border: red solid medium; border-radius: 5px; margin-bottom: 3px;}
        .blog-title {text-align: center;}
        .blog-body {}
    </style>
    <div class="container">
        {% for blogPost in blogPosts %}
                <a href="/posts/{{ blogPost.id}}" class="blog-title">
                <img src="{{ asset('uploads/images/' ~ blogPost.imageFilename) }}" alt="Blog post image"  class="blog-card">
                    {{ blogPost.title }}
                </a>

                <p class="blog-body">{{ blogPost.body }}</p>

        {% endfor %}
    </div>
{% endblock %}
